/* CSS permettant d'avoir un affichage joli */
* {
  font-family: Arial;
}

body {
  background-color: #c3b8ff;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid black;

  /* Pour aligner les textes au centre des carrés */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS pour la mise en place des grids */

.conteneur {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
}

.une,
.huit {
  grid-column-start: 1;
  grid-column-end: 4;
}

.deux {
  grid-row-start: 2;
  grid-row-end: 4;
}

.cinq {
  grid-column-start: 2;
  grid-column-end: 4;
}

.six {
  grid-column-start: 1;
  grid-column-end: 3;
}
