form div {
  margin-bottom: 5px;
}

form div input,
textarea {
  width: 150px;
}

form label {
  display: inline-block;
  width: 70px;
}

form input.main-button {
  margin-top: 10px;
  width: 70px;
}
